* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.card {
  background: #d8caca;
  width: 200px;
  padding: 1rem;
  border-radius: 5px;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
